body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;

}

#mission-border{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato); 
    border-image-slice: 1 ;
    border-width: initial;
   
}
.orange{
    color: rgb(250, 186, 67);
}
.flexble{
    display: flex;
    margin-bottom: 100px;
    padding-left: 5%;
    padding-right: 5px;
    padding-bottom: 4px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width image{
    width: 1%;
    width: 2%;
}
.explore{
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 128, 100),tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border: rgb(250, 163, 141) ;
    border-radius: 5px;
}
#second{
    font: 30%;
}
.blue{
    color: rgb(18, 18, 44);
}
.yellow{
    color: rgb(250, 186, 67);
}
.mission-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(231, 229, 229);
    border-radius: 5%;
    padding-left: 10px;
}
.mission-item-2nd{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
background-color: rgb(232, 253, 253);
border-radius: 5%;
 padding-left: 10px;
}
.mission-item-3rd{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
     background-color:rgb(250, 238, 238);
     border-radius: 5%;
 padding-left: 10px;
}
#limit{
    font-size: 25px;
}
.develop{
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    margin:none ;
}

